# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/
pip-log.txt
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
.DS_Store
*.sqlite3
research/
logs/
artifacts/data_ingestion/
artifacts/prepare_base_model/
kidney_fresh/
kidney2/
.dvc/
